@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: '2uc-main-font';
    src: url(../assets/fonts/suit/SUIT-Heavy.ttf);
    font-weight: 900;
}

@font-face {
    font-family: '2uc-point-font';
    src: url(../assets/fonts/ugro/SB\ 어그로\ L.ttf);
    font-weight: 300;
}
@font-face {
    font-family: '2uc-point-font';
    src: url(../assets/fonts/ugro/SB\ 어그로\ M.ttf);
    font-weight: 500;
}
@font-face {
    font-family: '2uc-point-font';
    src: url(../assets/fonts/ugro/SB\ 어그로\ B.ttf);
    font-weight: 700;
}