<footer>
  <div class="footer-container">
    <div class="logo">
      <a href="#">
        <img src="./images/logo/footer-logo.png" alt="2UC 로고">
      </a>
    </div>

    <ul class="footer-info">
      <li>주식회사 이우주 CEO. 권민준</li>
      <li>Business License. [771-81-02297]</li>
      <li>On-Line Register. 2021-서울중구-1307</li>
      <li>서울특별시 중구 다산로 60 1F 2UC</li>
      <li>개인정보관리책임자 권민준</li>
      <li>Copyright 2022 주식회사 이우주</li>
    </ul>

    <ul class="footer-info">
      <li>010-2058-0603</li>
      <li>2nduniverse.seoul@gmail.com</li>
      <li>평일 10:00-18:00 (12:00-13:00 점심시간)</li>
      <li>기업은행 주식회사 이우주 674-031604-01-013</li>
    </ul>

    <div class="sns">
      <a href="#"><img src="./images/logo/mail-icon.png" alt="메일"></a>
      <a href="#"><img src="./images/logo/instagram-icon.png" alt="인스타그램"></a>
    </div>
  </div>
</footer>
