

<header>
  <div class="wrap">
    <div class="logo">
      <a href="/"><img src="/assets/icons/header-logo.png" alt="2UC 로고"></a>
    </div>

    <ul class="gnb">
      <li><a href="/pages/solo/brand.html">BRAND STORY</a></li>
      <li>
        <a href="#">PRODUCTS</a>
        <ul class="depth2">
          <li><a href="/pages/shop/list.html?type=chair">의자</a></li>
          <li><a href="/pages/shop/list.html?type=sofa">소파</a></li>
          <li><a href="/pages/shop/list.html?type=desk">책상</a></li>
          <li><a href="/pages/shop/list.html?type=lamp">조명</a></li>
          <li><a href="/pages/shop/list.html?type=bookcase">책장(서랍)</a></li>
          <li><a href="/pages/shop/custom.html">커스텀오더</a></li>
        </ul>
      </li>
      <li>
        <a href="#">INFO</a>
        <ul class="depth2">
          <li><a href="/pages/cs/event.html">이벤트</a></li>
          <li><a href="/pages/cs/faq.html">FAQ</a></li>
          <li><a href="/pages/cs/notice.html">공지사항</a></li>
          <li><a href="/pages/cs/as.html">A/S</a></li>
        </ul>
      </li>
      <li>
        <a href="#">STUDIO</a>
        <ul class="depth2">
          <li><a href="/pages/solo/map.html">찾아오시는 길</a></li>
        </ul>
      </li>
    </ul>

    <ul class="lnb">
      <li><a href="/pages/member/login.html">로그인</a></li>
      <li><a href="/pages/member/join.html">회원가입</a></li>
      <li><a href="/pages/member/mypage.html">마이페이지</a></li>
      <li><a href="/pages/member/cart.html">장바구니</a></li>
      <li><a href="#">주문조회</a></li>
    </ul>
  </div>
</header>

