header{
    background-color: var(--neutral-color);
    max-height: 80px;
    overflow: hidden; 
    transition: max-height 0.6s ease 0s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header li>a:hover{
    color: var(--point-color-2);
}
header.on {
    background-color: rgba(255, 255, 255, 0.6); 
    backdrop-filter: blur(15px); /* 숫자를 맞추는 게 자연스러워요 */
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    /* 아래 한 줄 추가: 애니메이션 시 끊김 방지 */
    will-change: background-color, backdrop-filter;
}

header:hover{
    max-height: 500px;
}
header .wrap{
    width: 1842px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
header .logo{
    height: 80px;
    line-height: 0;
}
header .logo a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 60px;
}
header .gnb{
    display: flex;
    gap: 100px;
}
.gnb>li>a{
    height: 80px;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    font-weight: 700;
}
header .lnb{
    display: flex;
    height: 80px;
    align-items: center;
    gap: 10px ;
    font-size: 16px;
}
.gnb .depth2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}