.as-wrap .as-banner{
    height: 400px;
    background: url(../../images/cs/as-banner.jpg) no-repeat 50% 50% / cover;
    color: #fff;
}
.as-wrap .as-banner h1{
    font-size: 50px;
}
.as-box section{
    width: 710px;
    height: 514px;
    border: 1px solid #000;
    padding: 2rem;
    border-radius: 30px;
}
.as-box{
    margin-bottom: 4rem;
}
.as-text{
    padding: 0 2rem;
    margin-bottom: 14rem;
}
.bu{
    padding-left: .5rem;
}

@media (max-width:1440px){

}

@media (max-width:768px){

}

@media (max-width:370px){

}

@media (max-width:350px){
    
}