.custom-order{
    background: url(../../images/custom/bg.jpg) no-repeat 50% 50% / cover;
}
.custom-order .banner{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-text h1{
    font-size: 40px;
    font-weight: var(--bold-weight);
}
.main-text h1:nth-last-of-type(1){
    margin-bottom: .5rem;
}
.main-text{
    margin: 10rem 0;
    text-align: center;
}
.custom-box{
    /* border: 5px solid var(--main-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-container{
    padding: 4rem 0;
    border-radius: 80px 80px 0 0;

    /* 1. 반투명한 배경색 (흰색 10~20% 추천) */
    background: rgba(255, 255, 255, 0.1); 
    
    /* 2. 배경 블러 처리 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 호환용 */
    
    /* 3. 은은한 테두리와 그림자 (입체감) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    
}
.custom-accout figure{
    width: 710px;
    aspect-ratio: 710/581;
    border-radius: 34px;
    overflow: hidden;
}
.custom-accout>p{
    margin: 2rem 0;
    font-size: var( --detail);
    text-align: center;
}
.cart-box{
    background-color: #f4f7ff7a;
    box-shadow: inset 0 0 6px 5px rgba(141, 141, 141, 0.3);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 56px;   
    box-sizing: border-box;
}
.cart-box h1{
    font-size: var(--heading-1);
    font-weight: var(--bold-weight);
}
.order-button{
    display: flex;
    gap: .5rem;
}
.order-button>span>a{
    padding: 11px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: blue;
    color: #fff;
}
.order-button>span>h4{
    font-size: var(--heading-4);
    font-weight: var(--bold-weight);
}
.order-button img{
    width: 21.6px;
    aspect-ratio: 1/1;
}
.custom-panel{
    border-radius: 30px;
    /* background-color: #fff; */
    width: 587px;
    height: 754px;
    padding: 2rem 4rem;
    box-sizing: border-box;

    /* 1. 반투명한 배경색 (흰색 10~20% 추천) */
    background: rgba(255, 255, 255, 0.1); 
    
    /* 2. 배경 블러 처리 (핵심!) */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* 사파리 호환용 */
    
    /* 3. 은은한 테두리와 그림자 (입체감) */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 15px 5px rgba(141, 141, 141, 0.3);
}
.custom-step{
    display: flex;
    flex-direction: column;
}
.custom-step .step{
    font-size:var(--heading-2);
    font-weight: var(--bold-weight);
    padding: 1rem 0;
    border-bottom: 1px solid #999999;
}
.step{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.step img{
    width: 27px;
    height: 27px;
}
.active-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 70px;
    padding: var(--margin-main-text) 0;
}
.items{
    text-align: center;
}
.items>figure{
    margin-bottom: 1rem;
    width: 100px;
    aspect-ratio: 1/1;
}
.items>p{
    font-size: var(--body-2);
    border-radius: 15px;
}
.items:hover>p{
    background-color: #575757;
    color: #fff;
}
.custom-menu{
    max-height: 73px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.custom-menu.active{
    max-height: 500px;
}
.active-size{
    margin-top: var(--margin-main-text);
}
.active-size .option{
    margin-bottom: 1rem;
}
.items, .option{
    cursor: pointer;
}