.event-box{
    padding: var(--margin-top-pc 0);
}
.event-box h1{
    font-size: var(--heading-1);
    font-weight: var(--medium-weight);
    margin-bottom: var( --margin-main-text);
    padding-top: var(--margin-top-pc);
}
.event-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--margin-main-text);
    padding-bottom: var(--margin-top-pc);
}
.event-items figure{
    margin-bottom: 1rem;
    height: 659px;
}
.event-items h4{
    font-size: 30px;
    margin-bottom: .5rem;
    display: inline-block;
}
.event-items p{
    font-size: 20px;
    display: inline-block;
}
