.list-wrap .banner{
    height: 600px;
    background: url(../../images/list/banner/chair.jpg) no-repeat 50% 50% / cover;
    margin-bottom: var(--margin-top-pc);
}
.product-types{
    width: 100%;
    padding: var(--margin-sub-text) var(--margin-main-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    border-bottom: 1px solid #999999;
    box-sizing: border-box;
    font-size: var(--heading-2);
    font-weight: var(--bold-weight);
    margin-bottom: 3rem;
}
.list-box{
    /* border: 1px solid red; */
    margin-bottom: 3rem;
}
.select-box{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}
.select-label{
    display: flex;
    gap: .5rem;
    font-size: var(--heading-4);
    font-weight: var(--bold-weight);
    cursor: pointer;
}
.select-box img{
    width: 27px;
    height: 27px;
}
.select-list{
    position: absolute;
    top: 100%;
    right: 0; 
    z-index: 1000;
    
    width: 123px;
    background-color: #fff; 
    border: 1px solid #000;
    
   
    display: none; 
    flex-direction: column;
    gap: .5rem;
    margin-top: 0.5rem;
}
.select-list li:hover {
    background-color: #f5f5f5;
}
.select-box.active .select-list {
    display: flex;
}
.product-grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8rem;
    /* border: 1px solid red; */
    margin-bottom: 140px;
}
.product-list{
    /* border: 1px solid green; */
}
.product-list figure{
    width: 100%;
    aspect-ratio: 378/425;
    margin-bottom: 2rem;
}
.product-description{
    display: flex;
    gap: 1rem;
}
.size-color{
    width: 248px;
    height: 60px;
    background-color: aquamarine;
}
.product-name{
    font-size: 26px;
    font-weight: 700;
}
.product-name h3{
    font-size: 23px;
}
.pagination{
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.list-box nav{
    margin-bottom: var(--margin-top-pc);
}
