body{
    background-color: var(--neutral-color);
}
.notice .banner{
    height: 600px;
    background: url(../../images/cs/notic-banner.jpg) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin-top-pc);
}
.notice .banner h1{
    font-size: 50px;
    color: #fff;
}
.notice-title h1{
    font-size: var(--heading-1);
    font-weight: var(--medium-weight);
    font-family: var(--font-point);
    padding: var(--margin-sub-text);
    border-bottom: 3px solid #000;
    margin-bottom: var(--margin-main-text);
}
.notice-box{
    display: flex;
    flex-direction: column;
    gap: var(--margin-sub-text);
    margin-bottom: 10rem;
}
.notice-text h4{
    font-weight: var(--bold-weight);
}
.notice-box p{
    height: 500px;
    padding: 1rem;
    font-weight: var(--light-weight);
}
.notice-text{
    /* border: 1px solid red; */
    max-height: 62px;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: #fff;
}
.notice-text.active{
    max-height: 500px;
}
.title-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9C9C9C;
    padding: var(--margin-sub-text);
}
.title-box img{
    width: 24px;
    height: 24px;
}
.icon{
    width: 80px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}
.title-box{
    cursor: pointer;
}

